---
import Example_A from "../examples/Example_A.astro"
---


<p>The example component works as expected when present in an Astro Page</p>

<Example_A/> 

<a href="/issue">but it fails when inserted in a Starlight mdx file</a>