---
import Wrapper_B from "../components/Wrapper_B.astro";
---

<Wrapper_B>
  <script>
    console.log("running in example");
    document.getElementById('my-square')!.style.backgroundColor = "blue";
  </script>
  <p>The square below is expected to be blue at runtime.</p>
  <div id="my-square" class="square"></div>
</Wrapper_B>

<style>
  .square {
    width: 100px;
    height: 100px;
    background-color: red;
  }
</style>